/*   !/usr/bin/env python
    Name: Thomas Verouden
    Student number: 10779272

    This file determines the style of the given classes of the .js file.
    */

    body {
      font: 10px sans-serif;
      background-color: #2f92d6
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }


    .cir:hover {
      fill: black,
      # kan beter in .on(mousehover doen, dit wordt overschreven
    }

    .cir {
      border-color: black;
      border-radius: 5px
      # kan misschien ook beter in de geappende attribuut staan
    }

    .x.axis path {
      display: none;
    }

    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }
